.card {
  display: grid;
  row-gap: 8px;
  background-color: #252525;
  border-radius: var(--border-radius);
  height: 100%;
  width: 45%;
  padding: 24px;
}

.title_block {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
}

.star {
  transition: filter linear .2s;
}

.star_active {
  filter: invert(100%) sepia(83%) saturate(1%) hue-rotate(51deg) brightness(150%) contrast(84%);
}

.star:hover, .star_active:hover {
  cursor: pointer;
  filter: invert(100%) sepia(83%) saturate(1%) hue-rotate(51deg) brightness(150%) contrast(84%);
}

.date_and_rocket {
  display: grid;
  grid-auto-flow: column;
  width: 30%;
}

.details_block {
  display: grid;
  row-gap: 8px;
  margin-top: 10px;
}

.details_block_title {
  color: #606060;
}

.details_block_description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
}

.link {
  text-decoration: underline;
  width: fit-content;
}

.link:hover {
  text-decoration: none;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .card {
    width: 90%;
  }

  .date_and_rocket {
    width: 40%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .card {
    width: 50%;
  }

  .date_and_rocket {
    width: 50%;
  }
}